<article class="about">
    <h3><span class="section-icon" style="--icon: url('assets/svg-titles/about.svg')" aria-hidden="true"></span> Sobre mí</h3>
    <p>¡Hola!</p>
    <p>Mi nombre es Noelia, y quiero contarte un poco sobre mí.</p>
    <p>
      Soy de Uruguay, tengo {{age}} años y actualmente vivo en la ciudad de Ferrol, España. 
      Amo la naturaleza, disfruto del tiempo en familia y amigos, y me encanta aprender cosas nuevas.
      Me gusta pasar tiempo al aire libre, especialmente en las montañas, y disfruto de actividades como el 
      senderismo y la fotografía.
    </p>
    <p>
      Soy una programadora con un fuerte interés en la tecnología y el aprendizaje continuo. 
      Me apasiona el desarrollo web y disfruto creando aplicaciones que sean útiles y atractivas para los usuarios. 
      Hace un tiempo decidí cambiar de rumbo profesional desde la química hacia el mundo de la programación. 
      Me motiva formar parte de proyectos que mejoren la experiencia de los usuarios y 
      aporten valor a la comunidad. Estoy comprometida con la mejora continua, tanto a nivel personal como profesional.
    </p>
    <p>
      Visita mi <a href="https://github.com/NoeCam" target="_blank">GitHub</a> - Aquí podrás encontrar todos mis trabajos web.
    </p>
</article>
