<article class="about">
    <h3>Sobre mí</h3>
    <p>
      Soy una programadora junior con un fuerte interés en la tecnología y el aprendizaje continuo. 
      Hace un tiempo decidí cambiar de rumbo profesional hacia el mundo de la programación. 
      Me motiva formar parte de proyectos que mejoren la experiencia de los usuarios y 
      aporten valor a la comunidad. Estoy comprometida con la mejora continua, tanto a nivel personal como profesional.
    </p>
    <p>
      Visita mi <a href="https://github.com/NoeCam" target="_blank">GitHub</a> - Aquí podrás encontrar todos mis trabajos web.
    </p>
</article>
