<footer class="footer">
    <ul class="footer__list">
      <li class="list">© {{year}} | Noelia Camelia.</li>
      <li class="list">
        <a href="https://github.com/NoeCam" target="_blank">
          <img src="assets/github.png" alt="icono de GitHub">
        </a>
        <a href="https://discord.com/channels/noelia_camelia" target="_blank">
          <img src="assets/discord.png" alt="icono de Discord">
        </a>
        <a href="https://www.linkedin.com/in/noelia-camelia-acosta/" target="_blank">
          <img src="assets/linkedin.png" alt="icono de LinkedIn">
        </a>
      </li>
    </ul>
  </footer>
