<header>
    <h1>Noelia Camelia</h1>
    <h2>
      <span class="bracket bracket-open">{{ '{' }}</span>
      <span class="highlight">
        <span>D</span><span>e</span><span>s</span><span>a</span><span>r</span><span>r</span><span>o</span><span>l</span><span>l</span><span>a</span><span>d</span><span>o</span><span>r</span><span>a</span>
        <span>&nbsp;</span>
        <span>W</span><span>e</span><span>b</span>
        <span>&nbsp;</span>
        <span>F</span><span>u</span><span>l</span><span>l</span>
        <span>&nbsp;</span>
        <span>S</span><span>t</span><span>a</span><span>c</span><span>k</span>
      </span>
      <span class="bracket bracket-close">{{ '}' }}</span>
    </h2>
</header>