/* Estilo general para la lista de proyectos */
.projects-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
}
  
  
/* Tarjeta de cada proyecto */
.project-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--color-surface);
    border-radius: 12px;
    box-shadow: var(--shadow-accent);
    margin: 20px 0;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.project-info {
    flex-grow: 1;
}  

.carousel img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}

a {
  text-decoration: none;
  color: inherit;
}
  
/* Efecto al pasar el mouse por encima */
.project-card:hover {
    transform: translateY(-5px);
    box-shadow: var(--shadow-accent-hover);
}
  
.technologies-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    padding: 0;
    margin: 10px 0 10px 0;
    list-style: none;
}
  
.tech-card {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}  
  
/* Contenedor del carousel */
.carousel-container {
    width: 100%;
    height: 300px;
    overflow: hidden;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    position: relative;
    margin-bottom: 15px;
  }
  
/* Carousel interno */
.carousel {
    display: flex;
    width: 200%;
    height: 100%;
    animation: slide 8s infinite;
}
  
/* Imágenes dentro del carousel */
.carousel img {
    width: 100%;
    height: 100%;
    object-fit:contain;
}
  
/* Animación del carousel */
@keyframes slide {
    0%, 45% {
      transform: translateX(0%);
    }
    50%, 95% {
      transform: translateX(-50%);
    }
    100% {
      transform: translateX(0%);
    }
}
  