<article class="projects">
    <h3><span class="section-icon" style="--icon: url('assets/svg-titles/coding.svg')" aria-hidden="true"></span> Proyectos</h3>
    <ul class="projects-cards">
      @for (project of projectService.projects; track project.id) {
        <li class="project-card">
          <a href={{project.url}} target="_blank">
            <div class="carousel-container">
              <div class="carousel">
                <img src="{{project.img[0]}}" alt="{{ project.text }}" />
                <img src="{{project.img[1]}}" alt="{{ project.text }}" />
              </div>
            </div>
            <div class="project-info">
              <h4>{{ project.text }}</h4>
              <h5>{{ project.description }}</h5>
            </div>
          </a>
            <ul class="technologies-list">
              @for (tech of project.technologist; track tech) {
                  <li class="tech-card" [attr.data-tech]="tech">
                      <img src="../../../assets/technologies/{{tech}}.svg" alt="{{tech}}" width="40" height="40" (error)="handleImageError($event, tech)"/>
                  </li>
                }
            </ul>
        </li>
      }
    </ul>
  </article>
